//COLORS

$color-primary:#e1c799;
$color-primary-light:#d9b382;
$color-primary-dark:#a58862;

$color-grey-dark:#777;
$color-white: #fff;
$color-black: #000;

//GRID

$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;